* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* flex box의 가로축은 justify-..... */
/* flex box의 세로축은 align-..... */
.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10vh 0;
  background-color: beige;
  justify-content: center;
}
.box {
  background-color: black;
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
}
.box1 {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 {
  background-color: gainsboro;
}
.box3 {
  background-color: palegoldenrod;
}
.box4 {
  background-color: blue;
}
